<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!--https://github.com/NLog/NLog/wiki/Time-Source-->
  <time type="FastUTC" />
  <!--https://github.com/nlog/NLog/wiki/AsyncWrapper-target-->
  <targets async="true">
    <!--<target name="file" xsi:type="File" fileName="trace.log" layout="${longdate:universalTime=true}|${level:uppercase=true}|${threadid}|${logger}|${message}${onexception:${newline}${exception:format=tostring}}" />-->
    <!--<target name="trace" xsi:type="OutputDebugString" layout="${level:uppercase=true}|${threadid}|${logger}|${message}${onexception:${newline}${exception:format=tostring}}"/>-->
    <target name="console" xsi:type="ColoredConsole" layout="${longdate}|${level:uppercase=true}|${threadid}|${logger}|${message}${onexception:${newline}}" />
    <!--${exception:format=tostring}-->
  </targets>
  <rules>
    <!--<logger name="*" minlevel="Info" writeTo="file,trace,console" />-->
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>